<h3>Duel Result</h3>


<select #select1 [ngModel]="heroes" (change)="setHero1($event.target.value)">
    <option *ngFor="#hero of heroes" [value]="hero.id">{{hero.name}}</option>
</select>
<select #select2 [ngModel]="heroes" (change)="setHero2($event.target.value)">
    <option *ngFor="#hero of heroes" [value]="hero.id">{{hero.name}}</option>
</select>

<div *ngIf="selectedHero1">Hero 1: {{selectedHero1.name}}</div>
<div *ngIf="selectedHero2">Hero 2: {{selectedHero2.name}}</div>

<div>
<button (click)="startFight()">Start Fight</button>
</div>
<br>
<!--Fight Result text:-->
<div *ngIf="fightError">Problem with duel:
    <div *ngIf="heroUnselected">Problem, one or both heroes not selected.</div>
    <div *ngIf="sameHeroSelected">Problem, duel of the same hero ?!</div>
    <div *ngIf="selectedHero1IsDead">Problem, {{selectedHero1.name}} is dead.</div>
    <div *ngIf="selectedHero2IsDead">Problem, {{selectedHero2.name}} is dead.</div>
</div>

<div *ngIf="fightStarted">Fight Started!
    <div *ngFor="#fightResult of fightResults"  >
        <div *ngIf="fightResult.hitConnected">            
            {{fightResult.attacker}} hit 
            {{fightResult.defender}} for 
            {{fightResult.damage}} damage,
            {{fightResult.remainingHp}} remaining HPs.
            
        </div>
        <div *ngIf="!fightResult.hitConnected">            
            {{fightResult.attacker}} missed 
            {{fightResult.defender}}.
            
        </div>
    </div>
    <div *ngIf="selectedHero1.hitPoints <= 0" >
        {{selectedHero1.name}} is Dead.
    </div>
    <div *ngIf="selectedHero2.hitPoints <= 0" >
        {{selectedHero2.name}} is Dead.
    </div>
</div>
