<h3>Dungeon</h3>

<div class="columnsContainer">
    <div class="leftColumn">
        <select #selectHero [disabled]="dungeonStarted" [ngModel]="heroes" (change)="setHero($event.target.value)">
            <option *ngFor="#hero of heroes" [value]="hero.id">{{hero.name}}</option>
        </select>

        <select #selectDungeon [ngModel]="dungeons" (change)="setDungeon($event.target.value)">
            <option *ngFor="#dungeon of dungeons" [value]="dungeon.id">{{dungeon.name}}</option>
        </select>
        <div>Send 
             <span *ngIf="selectedHero" > 
                 {{selectedHero.name}}</span>  
                 into the dungeon!
        </div>
        <div>
        <button (click)="startDungeon()">Go into dungeon</button>
        </div>
        <br>
        
        <div *ngIf="enterDungeonError">Problem with heading into the dungeon:
            <div *ngIf="heroUnselected">Hero not selected.</div>
            <div *ngIf="selectedHeroIsDead">{{selectedHero.name}} is dead.</div>
            <div *ngIf="dungeonUnselected">Dungeon not selected.</div>
        </div>
        
        <div *ngIf="activeMonster">
            <div>Encountered: {{activeMonster.name}} (level {{activeMonster.level}}) </div>
            <div><label>id: </label>{{activeMonster.id}}</div>
        </div>
        <!--Fight Result text:-->
        <div *ngIf="fightStarted">Fight Started!
            <div *ngFor="#fightCommentary of fightCommentarys"  >
                <div *ngIf="fightCommentary.hitConnected">            
                    <span [ngClass]="{hero1name:fightCommentary.attacker.id == selectedHero1.id, 
                                      hero2name:fightCommentary.attacker.id == selectedHero2.id}">
                        {{fightCommentary.attacker.name}}</span> hit 
                    <span [ngClass]="{hero1name:fightCommentary.defender.id == selectedHero1.id, 
                                      hero2name:fightCommentary.defender.id == selectedHero2.id}">
                        {{fightCommentary.defender.name}}</span> for 
                    {{fightCommentary.damage}} damage,
                    {{fightCommentary.remainingHp}} remaining HPs.
                    
                </div>
                <div *ngIf="!fightCommentary.hitConnected">            
                    <span [ngClass]="{hero1name:fightCommentary.attacker.id == selectedHero1.id, 
                                      hero2name:fightCommentary.attacker.id == selectedHero2.id}">
                        {{fightCommentary.attacker.name}}</span> missed 
                    <span [ngClass]="{hero1name:fightCommentary.defender.id == selectedHero1.id, 
                                      hero2name:fightCommentary.defender.id == selectedHero2.id}">
                        {{fightCommentary.defender.name}}</span>.
                    
                </div>
            </div>
            <div *ngIf="selectedHero1IsDead" class="hero1name">
                {{selectedHero1.name}} is Dead.
            </div>
            <div *ngIf="selectedHero2IsDead" class="hero2name">
                {{selectedHero2.name}} is Dead.
            </div>
            <br>
            <div *ngIf="fightResult"> Duel Ended:
                <div *ngIf="fightResult.resultTie" >
                    Duel ended in a tie.     
                </div>
                <div *ngIf="!fightResult.resultTie" >
                    <span [ngClass]="{hero1name:fightResult.winner.id == selectedHero1.id, 
                                      hero2name:fightResult.winner.id == selectedHero2.id}">
                                      {{fightResult.winner.name}} </span>
                                      defeated 
                    <span [ngClass]="{hero1name:fightResult.loser.id == selectedHero1.id, 
                                      hero2name:fightResult.loser.id == selectedHero2.id}">
                                      {{fightResult.loser.name}}.
                                      </span>
                   <span [ngClass]="{hero1name:fightResult.winner.id == selectedHero1.id, 
                                      hero2name:fightResult.winner.id == selectedHero2.id}">
                                       {{fightResult.winner.name}} 
                                       </span>
                                       gained {{fightResult.experienceGained}} xp.
                </div>
            </div>
        </div>
    </div>


</div>