<h2>The Guild</h2>

<div *ngIf="!guild && !failedLoad">Loading Guild...</div>
<div *ngIf="failedLoad" class="error" >Failed to load Guild.
    <div class="error"  >Reason: {{failReason}}</div>
    
</div>
<div class="columnsContainer" *ngIf="guild">
    <div class="leftColumn">
        <div class="guildname">[{{guild.id}}] {{guild.name}}</div>
        Guild gold: ${{guild.gold}}
        <div>
            Week {{guild.week}}, Day {{guild.day}}
        </div>
        <div>
            <button (click)="nextDay()">Next Day {{messageAnyway}}</button> (Refresh Hero Action Points. Heroes Heal {{guild.hpRefreshAmount}} HPs.)
        </div>
        <div *ngIf="showAPMessage" class="error" >
            You still have Action Points to use
        </div>
        <div *ngIf="showDayMessage">
            Day updated!
        </div>
        <br>
        <div>
            Things you need to know:
         <ul>
             <li>Each week you need to pay your heroes!</li>
         </ul>
         </div>
    </div>
    <div class="leftColumn">
        <div *ngIf="guild"> The Heroes of your Guild:
            <ul class="heroes">
                <li *ngFor="#hero of heroes"
                    [class.selected]="hero === selectedHero"
                    (click)="onSelect(hero)">
                    <span class="badge">ID: {{hero.id}}</span> 
                        <span class="heroName">{{hero.name}} </span> 
                        <span class="status">HP: {{hero.hitPoints}}/{{hero.maxHitPoints}}. APs:{{hero.actionPoints}} .</span> 
                        
                </li>

            </ul>
        </div>
    </div>
    <div class="rightColumn heroColumn">
        <hero-detail #heroDetail></hero-detail>
    </div>
</div>
<!--<div *ngIf="selectedHero">
    <h2>
        {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>-->